<a href="https://colab.research.google.com/github/swami-gait/Foundations_of_datascience/blob/master/FDS_WK11_DataViz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [7]:
url = 'https://api.covid19india.org/states_daily.json'

In [8]:
import urllib.request

In [10]:
urllib.request.urlretrieve(url,'data.json');

In [11]:
covid_data = pd.read_json('data.json')

In [12]:
covid_data.info

<bound method DataFrame.info of                                           states_daily
0    {'an': '0', 'ap': '1', 'ar': '0', 'as': '0', '...
1    {'an': '0', 'ap': '0', 'ar': '0', 'as': '0', '...
2    {'an': '0', 'ap': '0', 'ar': '0', 'as': '0', '...
3    {'an': '0', 'ap': '0', 'ar': '0', 'as': '0', '...
4    {'an': '0', 'ap': '0', 'ar': '0', 'as': '0', '...
..                                                 ...
427  {'an': '21', 'ap': '5786', 'ar': '67', 'as': '...
428  {'an': '2', 'ap': '63', 'ar': '0', 'as': '4', ...
429  {'an': '98', 'ap': '9747', 'ar': '32', 'as': '...
430  {'an': '14', 'ap': '6953', 'ar': '42', 'as': '...
431  {'an': '2', 'ap': '67', 'ar': '0', 'as': '6', ...

[432 rows x 1 columns]>

In [13]:
import json

In [ ]:
with open('data.json') as f:
    data = json.load(f)
data

In [17]:
data = data['states_daily']

In [18]:
covid_data = pd.json_normalize(data)

In [20]:
covid_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 432 entries, 0 to 431
Data columns (total 41 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   an      432 non-null    object
 1   ap      432 non-null    object
 2   ar      432 non-null    object
 3   as      432 non-null    object
 4   br      432 non-null    object
 5   ch      432 non-null    object
 6   ct      432 non-null    object
 7   date    432 non-null    object
 8   dd      432 non-null    object
 9   dl      432 non-null    object
 10  dn      432 non-null    object
 11  ga      432 non-null    object
 12  gj      432 non-null    object
 13  hp      432 non-null    object
 14  hr      432 non-null    object
 15  jh      432 non-null    object
 16  jk      432 non-null    object
 17  ka      432 non-null    object
 18  kl      432 non-null    object
 19  la      432 non-null    object
 20  ld      432 non-null    object
 21  mh      432 non-null    object
 22  ml      432 non-null    object
 23  mn      432 non-null    object
 24  mp      432 non-null    object
 25  mz      432 non-null    object
 26  nl      432 non-null    object
 27  or      432 non-null    object
 28  pb      432 non-null    object
 29  py      432 non-null    object
 30  rj      432 non-null    object
 31  sk      432 non-null    object
 32  status  432 non-null    object
 33  tg      432 non-null    object
 34  tn      432 non-null    object
 35  tr      432 non-null    object
 36  tt      432 non-null    object
 37  un      432 non-null    object
 38  up      432 non-null    object
 39  ut      432 non-null    object
 40  wb      432 non-null    object
dtypes: object(41)
memory usage: 138.5+ KB

In [21]:
df = covid_data

In [22]:
df.date = pd.to_datetime(df.date)

In [23]:
df =df[df.status=='Confirmed']

In [24]:
df.drop('status',axis=1,inplace = True)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [25]:
df.set_index('date',inplace=True)

In [26]:
df

            an     ap   ar    as    br  ch  ...   tr     tt un    up   ut    wb
date                                        ...
2020-03-14   0      1    0     0     0   0  ...    0     81  0    12    0     0
2020-03-15   0      0    0     0     0   0  ...    0     27  0     1    0     0
2020-03-16   0      0    0     0     0   0  ...    0     15  0     0    1     0
2020-03-17   0      0    0     0     0   0  ...    0     11  0     2    0     1
2020-03-18   0      0    0     0     0   0  ...    0     37  0     2    1     0
...         ..    ...  ...   ...   ...  ..  ...  ...    ... ..   ...  ...   ...
2020-07-31  78  10376  107  1862  2986  35  ...  274  57486  0  4422  118  2496
2020-08-01  88   9276   83  1457  3521  28  ...  252  55117  0  3587  264  2589
2020-08-02  98   8555   24  1178  2762  38  ...  141  52672  0  3873  146  2739
2020-08-03  96   7822   60  2371  2297  43  ...    0  50488  0  4441  207  2716
2020-08-04  98   9747   32  2886  2464  46  ...  131  51282  0  2948  208  2752

[144 rows x 39 columns]

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 144 entries, 2020-03-14 to 2020-08-04
Data columns (total 39 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   an      144 non-null    object
 1   ap      144 non-null    object
 2   ar      144 non-null    object
 3   as      144 non-null    object
 4   br      144 non-null    object
 5   ch      144 non-null    object
 6   ct      144 non-null    object
 7   dd      144 non-null    object
 8   dl      144 non-null    object
 9   dn      144 non-null    object
 10  ga      144 non-null    object
 11  gj      144 non-null    object
 12  hp      144 non-null    object
 13  hr      144 non-null    object
 14  jh      144 non-null    object
 15  jk      144 non-null    object
 16  ka      144 non-null    object
 17  kl      144 non-null    object
 18  la      144 non-null    object
 19  ld      144 non-null    object
 20  mh      144 non-null    object
 21  ml      144 non-null    object
 22  mn      144 non-null    object
 23  mp      144 non-null    object
 24  mz      144 non-null    object
 25  nl      144 non-null    object
 26  or      144 non-null    object
 27  pb      144 non-null    object
 28  py      144 non-null    object
 29  rj      144 non-null    object
 30  sk      144 non-null    object
 31  tg      144 non-null    object
 32  tn      144 non-null    object
 33  tr      144 non-null    object
 34  tt      144 non-null    object
 35  un      144 non-null    object
 36  up      144 non-null    object
 37  ut      144 non-null    object
 38  wb      144 non-null    object
dtypes: object(39)
memory usage: 45.0+ KB

In [28]:
df =df.apply(pd.to_numeric)

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 144 entries, 2020-03-14 to 2020-08-04
Data columns (total 39 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   an      144 non-null    int64
 1   ap      144 non-null    int64
 2   ar      144 non-null    int64
 3   as      144 non-null    int64
 4   br      144 non-null    int64
 5   ch      144 non-null    int64
 6   ct      144 non-null    int64
 7   dd      144 non-null    int64
 8   dl      144 non-null    int64
 9   dn      144 non-null    int64
 10  ga      144 non-null    int64
 11  gj      144 non-null    int64
 12  hp      144 non-null    int64
 13  hr      144 non-null    int64
 14  jh      144 non-null    int64
 15  jk      144 non-null    int64
 16  ka      144 non-null    int64
 17  kl      144 non-null    int64
 18  la      144 non-null    int64
 19  ld      144 non-null    int64
 20  mh      144 non-null    int64
 21  ml      144 non-null    int64
 22  mn      144 non-null    int64
 23  mp      144 non-null    int64
 24  mz      144 non-null    int64
 25  nl      144 non-null    int64
 26  or      144 non-null    int64
 27  pb      144 non-null    int64
 28  py      144 non-null    int64
 29  rj      144 non-null    int64
 30  sk      144 non-null    int64
 31  tg      144 non-null    int64
 32  tn      144 non-null    int64
 33  tr      144 non-null    int64
 34  tt      144 non-null    int64
 35  un      144 non-null    int64
 36  up      144 non-null    int64
 37  ut      144 non-null    int64
 38  wb      144 non-null    int64
dtypes: int64(39)
memory usage: 45.0 KB

In [30]:
df.tail(7)

            an     ap   ar    as    br  ch  ...   tr     tt  un    up   ut    wb
date                                        ...
2020-07-29  65  10093   80  1348  2328  44  ...  216  52479   0  3383  279  2294
2020-07-30  42  10167   74  2112  2082  38  ...  219  54968   0  3705  199  2434
2020-07-31  78  10376  107  1862  2986  35  ...  274  57486   0  4422  118  2496
2020-08-01  88   9276   83  1457  3521  28  ...  252  55117   0  3587  264  2589
2020-08-02  98   8555   24  1178  2762  38  ...  141  52672   0  3873  146  2739
2020-08-03  96   7822   60  2371  2297  43  ...    0  50488   0  4441  207  2716
2020-08-04  98   9747   32  2886  2464  46  ...  131  51282   0  2948  208  2752

[7 rows x 39 columns]