In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

# Creating Series Objects

In [ ]:
s = pd.Series([0, 1, 1, 2, 3, 5, 8])

In [ ]:
print(s)

0    0
1    1
2    1
3    2
4    3
5    5
6    8
dtype: int64

In [ ]:
s = pd.Series([0.0, 1, 1, 2, 3, 5, 8])

In [ ]:
print(s)

0    0.0
1    1.0
2    1.0
3    2.0
4    3.0
5    5.0
6    8.0
dtype: float64

In [ ]:
s.values

array([0., 1., 1., 2., 3., 5., 8.])

In [ ]:
s.index

RangeIndex(start=0, stop=7, step=1)

In [ ]:
for v in s.values:
    print(v)

0.0
1.0
1.0
2.0
3.0
5.0
8.0

In [ ]:
for i in s.index:
    print(i)

0
1
2
3
4
5
6

In [ ]:
for item in zip(s.index, s.values):
    print(item)

(0, 0.0)
(1, 1.0)
(2, 1.0)
(3, 2.0)
(4, 3.0)
(5, 5.0)
(6, 8.0)

In [ ]:
s[0]

0.0

In [ ]:
s[1]

1.0

In [ ]:
s[5]

5.0

In [ ]:
mercury = pd.Series([0.33, 57.9, 4222.6], index=['mass', 'diameter', 'dayLength'])

In [ ]:
print(mercury)

mass            0.33
diameter       57.90
dayLength    4222.60
dtype: float64

In [ ]:
mercury['mass']

0.33

In [ ]:
mercury['dayLength']

4222.6

In [ ]:
mercury.mass

0.33

In [ ]:
arr = np.random.randint(0, 10, 10)

In [ ]:
arr

array([8, 3, 6, 9, 1, 2, 7, 7, 4, 5])

In [ ]:
ind = np.arange(10, 20)

In [ ]:
rand_series = pd.Series(arr, index=ind)

In [ ]:
print(rand_series)

10    8
11    3
12    6
13    9
14    1
15    2
16    7
17    7
18    4
19    5
dtype: int64

In [ ]:
# mercury = pd.Series([0.33, 57.9, 4222.6], index=['mass', 'diameter', 'dayLength'])

d = {}
d['mass'] = 0.33
d['diameter'] = 57.9
d['dayLength'] = 4222.6

In [ ]:
print(d)

{'mass': 0.33, 'diameter': 57.9, 'dayLength': 4222.6}

In [ ]:
mercury = pd.Series(d)

In [ ]:
print(mercury)

mass            0.33
diameter       57.90
dayLength    4222.60
dtype: float64

In [ ]:
mercury = pd.Series(d, index=['mass', 'diameter', 'dayLength'])

In [ ]:
print(mercury)

mass            0.33
diameter       57.90
dayLength    4222.60
dtype: float64

In [ ]:
mercury = pd.Series(d, index=['mass', 'diameter'])

In [ ]:
print(mercury)

mass         0.33
diameter    57.90
dtype: float64

# iloc and loc

In [ ]:
s = pd.Series([0.0, 1, 1, 2, 3, 5, 8], index=[1, 2, 3, 4, 5, 6, 7])

In [ ]:
print(s)

1    0.0
2    1.0
3    1.0
4    2.0
5    3.0
6    5.0
7    8.0
dtype: float64

In [ ]:
s.loc[4]

2.0

In [ ]:
s.iloc[4]

3.0

In [ ]:
s.iloc[0]

0.0

In [ ]:
s.loc[0]

In [ ]:
mercury = pd.Series(d, index=['mass', 'diameter', 'dayLength'])

In [ ]:
mercury.loc['mass']

0.33

In [ ]:
mercury.iloc[0]

0.33

In [ ]:
mercury.iloc[-1]

4222.6

In [ ]:
mercury.iloc[0:1]

mass    0.33
dtype: float64

In [ ]:
mercury.loc[:'dayLength']

mass            0.33
diameter       57.90
dayLength    4222.60
dtype: float64

# Simple operations

In [ ]:
mass = pd.Series([0.33, 4.87, 5.97, 0.642, 1898, 568, 86.8, 102, 0.0146], 
                 index=['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune', 'Pluto'])

In [ ]:
print(mass)

Mercury       0.3300
Venus         4.8700
Earth         5.9700
Mars          0.6420
Jupiter    1898.0000
Saturn      568.0000
Uranus       86.8000
Neptune     102.0000
Pluto         0.0146
dtype: float64

In [ ]:
mass[1]

4.87

In [ ]:
mass.iloc[1]

4.87

In [ ]:
mass.loc['Earth']

5.97

In [ ]:
mass['Earth']

5.97

In [ ]:
mass['Earth': 'Jupiter']

Earth         5.970
Mars          0.642
Jupiter    1898.000
dtype: float64

In [ ]:
mass[2:5]

Earth         5.970
Mars          0.642
Jupiter    1898.000
dtype: float64

In [ ]:
mass.iloc[2:5]

Earth         5.970
Mars          0.642
Jupiter    1898.000
dtype: float64

In [ ]:
mass > 100

Mercury    False
Venus      False
Earth      False
Mars       False
Jupiter     True
Saturn      True
Uranus     False
Neptune     True
Pluto      False
dtype: bool

In [ ]:
mass[mass > 100]

Jupiter    1898.0
Saturn      568.0
Neptune     102.0
dtype: float64

In [ ]:
mass[(mass > 100) & (mass < 600)]

Saturn     568.0
Neptune    102.0
dtype: float64

In [ ]:
mass

Mercury       0.3300
Venus         4.8700
Earth         5.9700
Mars          0.6420
Jupiter    1898.0000
Saturn      568.0000
Uranus       86.8000
Neptune     102.0000
Pluto         0.0146
dtype: float64

In [ ]:
mass * 2

Mercury       0.6600
Venus         9.7400
Earth        11.9400
Mars          1.2840
Jupiter    3796.0000
Saturn     1136.0000
Uranus      173.6000
Neptune     204.0000
Pluto         0.0292
dtype: float64

In [ ]:
mass / 10

Mercury      0.03300
Venus        0.48700
Earth        0.59700
Mars         0.06420
Jupiter    189.80000
Saturn      56.80000
Uranus       8.68000
Neptune     10.20000
Pluto        0.00146
dtype: float64

In [ ]:
np.mean(mass)

296.29184444444445

In [ ]:
np.amin(mass)

0.0146

In [ ]:
np.amax(mass)

1898.0

In [ ]:
np.median(mass)

5.97

In [ ]:
mass + mass

Mercury       0.6600
Venus         9.7400
Earth        11.9400
Mars          1.2840
Jupiter    3796.0000
Saturn     1136.0000
Uranus      173.6000
Neptune     204.0000
Pluto         0.0292
dtype: float64

In [ ]:
mass - mass

Mercury    0.0
Venus      0.0
Earth      0.0
Mars       0.0
Jupiter    0.0
Saturn     0.0
Uranus     0.0
Neptune    0.0
Pluto      0.0
dtype: float64

In [ ]:
big_mass = mass[mass > 100]

In [ ]:
big_mass

Jupiter    1898.0
Saturn      568.0
Neptune     102.0
dtype: float64

In [ ]:
mass

Mercury       0.3300
Venus         4.8700
Earth         5.9700
Mars          0.6420
Jupiter    1898.0000
Saturn      568.0000
Uranus       86.8000
Neptune     102.0000
Pluto         0.0146
dtype: float64

In [ ]:
new_mass = mass + big_mass

In [ ]:
print(new_mass)

Earth         NaN
Jupiter    3796.0
Mars          NaN
Mercury       NaN
Neptune     204.0
Pluto         NaN
Saturn     1136.0
Uranus        NaN
Venus         NaN
dtype: float64

In [ ]:
pd.isnull(new_mass)

Earth       True
Jupiter    False
Mars        True
Mercury     True
Neptune    False
Pluto       True
Saturn     False
Uranus      True
Venus       True
dtype: bool

In [ ]:
new_mass[~pd.isnull(new_mass)]

Jupiter    3796.0
Neptune     204.0
Saturn     1136.0
dtype: float64

In [ ]:
mass

Mercury       0.3300
Venus         4.8700
Earth         5.9700
Mars          0.6420
Jupiter    1898.0000
Saturn      568.0000
Uranus       86.8000
Neptune     102.0000
Pluto         0.0146
dtype: float64

In [ ]:
mass['Moon'] = 0.7346

In [ ]:
mass

Mercury       0.3300
Venus         4.8700
Earth         5.9700
Mars          0.6420
Jupiter    1898.0000
Saturn      568.0000
Uranus       86.8000
Neptune     102.0000
Pluto         0.0146
Moon          0.7346
dtype: float64

In [ ]:
mass.drop(['Pluto'])

Mercury       0.3300
Venus         4.8700
Earth         5.9700
Mars          0.6420
Jupiter    1898.0000
Saturn      568.0000
Uranus       86.8000
Neptune     102.0000
Moon          0.7346
dtype: float64

**Task 1**

Collect numbers for the diameters of these planets (heavenly bodies) and store it as a Series object. Then given these two Series objects mass and diameter, compute the density of each planet.

In [ ]:
diameter = pd.Series([4879, 12104, 12756, 3475, 6792, 142984, 120536, 51118, 49528, 2370], 
                     index=['Mercury', 'Venus', 'Earth', 'Moon', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune', 'Pluto'])

In [ ]:
density = pd.Series([])

In [ ]:
print(density)

Series([], dtype: float64)

In [ ]:
mass

Mercury       0.3300
Venus         4.8700
Earth         5.9700
Mars          0.6420
Jupiter    1898.0000
Saturn      568.0000
Uranus       86.8000
Neptune     102.0000
Pluto         0.0146
Moon          0.7346
dtype: float64

In [ ]:
diameter

Mercury      4879
Venus       12104
Earth       12756
Moon         3475
Mars         6792
Jupiter    142984
Saturn     120536
Uranus      51118
Neptune     49528
Pluto        2370
dtype: int64

In [ ]:
for planet in mass.index:
    density[planet] = mass[planet] / (np.pi * diameter[planet] * diameter[planet] * diameter[planet] / 6)

In [ ]:
print(density)

Mercury    5.426538e-12
Venus      5.244977e-12
Earth      5.493286e-12
Mars       3.913302e-12
Jupiter    1.240039e-12
Saturn     6.194402e-13
Uranus     1.241079e-12
Neptune    1.603427e-12
Pluto      2.094639e-12
Moon       3.343396e-11
dtype: float64

In [ ]:
density = mass / (np.pi * np.power(diameter, 3) / 6)

In [ ]:
density

Earth      5.493286e-12
Jupiter    1.240039e-12
Mars       3.913302e-12
Mercury    5.426538e-12
Moon       3.343396e-11
Neptune    1.603427e-12
Pluto      2.094639e-12
Saturn     6.194402e-13
Uranus     1.241079e-12
Venus      5.244977e-12
dtype: float64

In [ ]:
mass['PlanetX'] = 6

In [ ]:
density = mass / (np.pi * np.power(diameter, 3) / 6)

In [ ]:
density

Earth      5.493286e-12
Jupiter    1.240039e-12
Mars       3.913302e-12
Mercury    5.426538e-12
Moon       3.343396e-11
Neptune    1.603427e-12
PlanetX             NaN
Pluto      2.094639e-12
Saturn     6.194402e-13
Uranus     1.241079e-12
Venus      5.244977e-12
dtype: float64

**Task 2**

Given this density Series, replace all values which NaNs with the mean density of all planets

In [ ]:
density_mean = np.mean(density)

for key in density.index:
    if pd.isnull(density[key]):
        density[key] = density_mean

In [ ]:
print(density)

Earth      5.493286e-12
Jupiter    1.240039e-12
Mars       3.913302e-12
Mercury    5.426538e-12
Moon       3.343396e-11
Neptune    1.603427e-12
PlanetX    6.031069e-12
Pluto      2.094639e-12
Saturn     6.194402e-13
Uranus     1.241079e-12
Venus      5.244977e-12
dtype: float64

In [ ]:
density[pd.isnull(density)] = np.mean(density)

In [ ]:
print(density)

Earth      5.493286e-12
Jupiter    1.240039e-12
Mars       3.913302e-12
Mercury    5.426538e-12
Moon       3.343396e-11
Neptune    1.603427e-12
PlanetX    6.031069e-12
Pluto      2.094639e-12
Saturn     6.194402e-13
Uranus     1.241079e-12
Venus      5.244977e-12
dtype: float64

**Task 3**

Compare Dictionary with Series: 
- checking if some key is present
- summing values
- computing std

In [ ]:
my_dict = {}
N = 1000000
for i in range(N):
    my_dict[i] = i%10

In [ ]:
my_series = pd.Series(my_dict)

In [ ]:
M = 10000

In [ ]:
arr = np.random.randint(0, N, M)

In [ ]:
%%timeit
for i in arr:
    i in my_dict

100 loops, best of 3: 6.73 ms per loop

In [ ]:
%%timeit
for i in arr:
    i in my_series

The slowest run took 5.43 times longer than the fastest. This could mean that an intermediate result is being cached.
100 loops, best of 3: 11.2 ms per loop

In [ ]:
%%timeit
sum(my_dict.values())

100 loops, best of 3: 7.52 ms per loop

In [ ]:
%%timeit
np.sum(my_series)

1000 loops, best of 3: 821 µs per loop

In [ ]:
%%timeit
mean = sum(my_dict.values()) / N
variance = sum([(x - mean)**2 for x in my_dict.values()])
std = variance ** 0.5

10 loops, best of 3: 157 ms per loop

In [ ]:
%%timeit
np.std(my_series)

100 loops, best of 3: 3.41 ms per loop

# NIFTY case-study

In [ ]:
nifty = pd.read_csv('nifty.csv', index_col=0).iloc[:, 0]

NameError: ignored

In [ ]:
nifty

Date
01-Jan-2019    10910.10
02-Jan-2019    10792.50
03-Jan-2019    10672.25
04-Jan-2019    10727.35
07-Jan-2019    10771.80
                 ...
24-Dec-2019    12214.55
26-Dec-2019    12126.55
27-Dec-2019    12245.80
30-Dec-2019    12255.85
31-Dec-2019    12168.45
Name: Close, Length: 245, dtype: float64

In [ ]:
nifty.head(25)

Date
01-Jan-2019    10910.10
02-Jan-2019    10792.50
03-Jan-2019    10672.25
04-Jan-2019    10727.35
07-Jan-2019    10771.80
08-Jan-2019    10802.15
09-Jan-2019    10855.15
10-Jan-2019    10821.60
11-Jan-2019    10794.95
14-Jan-2019    10737.60
15-Jan-2019    10886.80
16-Jan-2019    10890.30
17-Jan-2019    10905.20
18-Jan-2019    10906.95
21-Jan-2019    10961.85
22-Jan-2019    10922.75
23-Jan-2019    10831.50
24-Jan-2019    10849.80
25-Jan-2019    10780.55
28-Jan-2019    10661.55
29-Jan-2019    10652.20
30-Jan-2019    10651.80
31-Jan-2019    10830.95
01-Feb-2019    10893.65
04-Feb-2019    10912.25
Name: Close, dtype: float64

In [ ]:
nifty.tail(25)

Date
26-Nov-2019    12037.70
27-Nov-2019    12100.70
28-Nov-2019    12151.15
29-Nov-2019    12056.05
02-Dec-2019    12048.20
03-Dec-2019    11994.20
04-Dec-2019    12043.20
05-Dec-2019    12018.40
06-Dec-2019    11921.50
09-Dec-2019    11937.50
10-Dec-2019    11856.80
11-Dec-2019    11910.15
12-Dec-2019    11971.80
13-Dec-2019    12086.70
16-Dec-2019    12053.95
17-Dec-2019    12165.00
18-Dec-2019    12221.65
19-Dec-2019    12259.70
20-Dec-2019    12271.80
23-Dec-2019    12262.75
24-Dec-2019    12214.55
26-Dec-2019    12126.55
27-Dec-2019    12245.80
30-Dec-2019    12255.85
31-Dec-2019    12168.45
Name: Close, dtype: float64

In [ ]:
np.mean(nifty)

11432.632244897959

In [ ]:
np.median(nifty)

11512.4

In [ ]:
np.std(nifty)

453.2866947459807

What fraction of days did the markets close higher than the previous day's close

In [ ]:
nifty[0]

10910.1

In [ ]:
nifty[1]

10792.5

In [ ]:
nifty[1] - nifty[0]

-117.60000000000036

In [ ]:
nifty[1:]

Date
02-Jan-2019    10792.50
03-Jan-2019    10672.25
04-Jan-2019    10727.35
07-Jan-2019    10771.80
08-Jan-2019    10802.15
                 ...
24-Dec-2019    12214.55
26-Dec-2019    12126.55
27-Dec-2019    12245.80
30-Dec-2019    12255.85
31-Dec-2019    12168.45
Name: Close, Length: 244, dtype: float64

In [ ]:
nifty[:-1]

Date
01-Jan-2019    10910.10
02-Jan-2019    10792.50
03-Jan-2019    10672.25
04-Jan-2019    10727.35
07-Jan-2019    10771.80
                 ...
23-Dec-2019    12262.75
24-Dec-2019    12214.55
26-Dec-2019    12126.55
27-Dec-2019    12245.80
30-Dec-2019    12255.85
Name: Close, Length: 244, dtype: float64

In [ ]:
nifty[1:] - nifty[:-1]

Date
01-Apr-2019    0.0
01-Aug-2019    0.0
01-Feb-2019    0.0
01-Jan-2019    NaN
01-Jul-2019    0.0
              ...
31-Dec-2019    NaN
31-Jan-2019    0.0
31-Jul-2019    0.0
31-May-2019    0.0
31-Oct-2019    0.0
Name: Close, Length: 245, dtype: float64

In [ ]:
np.sum((nifty.values[1:] - nifty.values[:-1]) > 0) / len(nifty)

0.5265306122448979

**Tasks**

1. Compute moving average of the last 5 days

2. Subset the data to include only data for Fridays

In [ ]:
nifty

Date
01-Jan-2019    10910.10
02-Jan-2019    10792.50
03-Jan-2019    10672.25
04-Jan-2019    10727.35
07-Jan-2019    10771.80
                 ...
24-Dec-2019    12214.55
26-Dec-2019    12126.55
27-Dec-2019    12245.80
30-Dec-2019    12255.85
31-Dec-2019    12168.45
Name: Close, Length: 245, dtype: float64

In [ ]:
nifty.index[0]

'01-Jan-2019'

In [ ]:
d = pd.Timestamp(nifty.index[0])

In [ ]:
d.dayofweek

1

In [ ]:
new_index = map(pd.Timestamp, nifty.index)

In [ ]:
new_nifty = pd.Series(nifty, index = new_index)

In [ ]:
new_nifty

2019-01-01    10910.10
2019-01-02    10792.50
2019-01-03    10672.25
2019-01-04    10727.35
2019-01-07    10771.80
                ...
2019-12-24    12214.55
2019-12-26    12126.55
2019-12-27    12245.80
2019-12-30    12255.85
2019-12-31    12168.45
Name: Close, Length: 245, dtype: float64

In [ ]:
new_nifty.index[0]

Timestamp('2019-01-01 00:00:00')

In [ ]:
new_nifty.rolling('5d').mean()

2019-01-01    10910.100000
2019-01-02    10851.300000
2019-01-03    10791.616667
2019-01-04    10775.550000
2019-01-07    10723.800000
                  ...
2019-12-24    12249.700000
2019-12-26    12201.283333
2019-12-27    12212.412500
2019-12-30    12209.400000
2019-12-31    12223.366667
Name: Close, Length: 245, dtype: float64

In [ ]:
dow = new_nifty.copy()
for i in dow.index:
    dow[i] = i.dayofweek

In [ ]:
dow

2019-01-01    1.0
2019-01-02    2.0
2019-01-03    3.0
2019-01-04    4.0
2019-01-07    0.0
             ...
2019-12-24    1.0
2019-12-26    3.0
2019-12-27    4.0
2019-12-30    0.0
2019-12-31    1.0
Name: Close, Length: 245, dtype: float64

In [ ]:
new_nifty[dow == 4]

2019-01-04    10727.35
2019-01-11    10794.95
2019-01-18    10906.95
2019-01-25    10780.55
2019-02-01    10893.65
2019-02-08    10943.60
2019-02-15    10724.40
2019-02-22    10791.65
2019-03-01    10863.50
2019-03-08    11035.40
2019-03-15    11426.85
2019-03-22    11456.90
2019-03-29    11623.90
2019-04-05    11665.95
2019-04-12    11643.45
2019-04-26    11754.65
2019-05-03    11712.25
2019-05-10    11278.90
2019-05-17    11407.15
2019-05-24    11844.10
2019-05-31    11922.80
2019-06-07    11870.65
2019-06-14    11823.30
2019-06-21    11724.10
2019-06-28    11788.85
2019-07-05    11811.15
2019-07-12    11552.50
2019-07-19    11419.25
2019-07-26    11284.30
2019-08-02    10997.35
2019-08-09    11109.65
2019-08-16    11047.80
2019-08-23    10829.35
2019-08-30    11023.25
2019-09-06    10946.20
2019-09-13    11075.90
2019-09-20    11274.20
2019-09-27    11512.40
2019-10-04    11174.75
2019-10-11    11305.05
2019-10-18    11661.85
2019-10-25    11583.90
2019-11-01    11890.60
2019-11-08    11908.15
2019-11-15    11895.45
2019-11-22    11914.40
2019-11-29    12056.05
2019-12-06    11921.50
2019-12-13    12086.70
2019-12-20    12271.80
2019-12-27    12245.80
Name: Close, dtype: float64

In [ ]:
def create_df(nrows,ncols,maxRand=10):
    test= np.random.randint(1,maxRand,(nrows,ncols))
    df = pd.DataFrame(test)
    df.index = ['R'+str(x) for x in np.arange(1,nrows+1)]
    df.columns= ['C'+str(x) for x in np.arange(1,ncols+1)] 
    return df

In [ ]:
mytest = create_df(5,3)

In [ ]:
print(mytest)
type(mytest)

    C1  C2  C3
R1   3   8   6
R2   1   9   8
R3   8   9   9
R4   6   8   1
R5   1   2   5

pandas.core.frame.DataFrame

In [ ]:
sns.get_dataset_names()

/usr/local/lib/python3.6/dist-packages/seaborn/utils.py:384: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 384 of the file /usr/local/lib/python3.6/dist-packages/seaborn/utils.py. To get rid of this warning, pass the additional argument 'features="lxml"' to the BeautifulSoup constructor.

  gh_list = BeautifulSoup(http)

['anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'exercise',
 'flights',
 'fmri',
 'gammas',
 'geyser',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'tips',
 'titanic']

# Pandas planet data analysis

In [ ]:
df = sns.load_dataset('planets')

In [ ]:
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [ ]:
df.tail()

       method  number  orbital_period  mass  distance  year
1030  Transit       1        3.941507   NaN     172.0  2006
1031  Transit       1        2.615864   NaN     148.0  2007
1032  Transit       1        3.191524   NaN     174.0  2007
1033  Transit       1        4.125083   NaN     293.0  2008
1034  Transit       1        4.187757   NaN     260.0  2008

In [ ]:
df.describe()

            number  orbital_period        mass     distance         year
count  1035.000000      992.000000  513.000000   808.000000  1035.000000
mean      1.785507     2002.917596    2.638161   264.069282  2009.070531
std       1.240976    26014.728304    3.818617   733.116493     3.972567
min       1.000000        0.090706    0.003600     1.350000  1989.000000
25%       1.000000        5.442540    0.229000    32.560000  2007.000000
50%       1.000000       39.979500    1.260000    55.250000  2010.000000
75%       2.000000      526.005000    3.040000   178.500000  2012.000000
max       7.000000   730000.000000   25.000000  8500.000000  2014.000000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1035 entries, 0 to 1034
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   method          1035 non-null   object
 1   number          1035 non-null   int64
 2   orbital_period  992 non-null    float64
 3   mass            513 non-null    float64
 4   distance        808 non-null    float64
 5   year            1035 non-null   int64
dtypes: float64(3), int64(2), object(1)
memory usage: 48.6+ KB

In [ ]:
df.drop(df[df.isnull()])

KeyError: ignored

In [ ]:
df.dropna(inplace=True)

In [ ]:
df.describe()

In [ ]:
df[(df['year']==2010) & (df['distance']>59)]

In [ ]:
df.method.unique()

In [ ]:
short_names={}
for s in df.method.unique():
    short_names[s]= ''.join(x[0] for x in s.split(' '))

In [ ]:
print(short_names)

{'Radial Velocity': 'RV', 'Imaging': 'I', 'Eclipse Timing Variations': 'ETV', 'Transit': 'T', 'Astrometry': 'A', 'Transit Timing Variations': 'TTV', 'Orbital Brightness Modulation': 'OBM', 'Microlensing': 'M', 'Pulsar Timing': 'PT', 'Pulsation Timing Variations': 'PTV'}

In [ ]:
for i,r in df.iterrows():
    df.loc[i,'short_name']= short_names.get(r['method'],r['method'])

In [ ]:
df.head()

            method  number  orbital_period  ...  year  short_method  short_name
0  Radial Velocity       1         269.300  ...  2006            RV          RV
1  Radial Velocity       1         874.774  ...  2008            RV          RV
2  Radial Velocity       1         763.000  ...  2011            RV          RV
3  Radial Velocity       1         326.030  ...  2007            RV          RV
4  Radial Velocity       1         516.220  ...  2009            RV          RV

[5 rows x 8 columns]

In [ ]:
def short_name_fun(s):
    return short_names.get(s,s)

In [ ]:
df['short_method']= df['method'].apply(short_name_fun)

In [ ]:
df.drop('short_name',axis=1,inplace=True)

In [ ]:
df.tail()

       method  number  orbital_period  mass  distance  year short_method
1030  Transit       1        3.941507   NaN     172.0  2006            T
1031  Transit       1        2.615864   NaN     148.0  2007            T
1032  Transit       1        3.191524   NaN     174.0  2007            T
1033  Transit       1        4.125083   NaN     293.0  2008            T
1034  Transit       1        4.187757   NaN     260.0  2008            T

In [ ]:
df.groupby('method')['method'].count()

method
Astrometry                         2
Eclipse Timing Variations          9
Imaging                           38
Microlensing                      23
Orbital Brightness Modulation      3
Pulsar Timing                      5
Pulsation Timing Variations        1
Radial Velocity                  553
Transit                          397
Transit Timing Variations          4
Name: method, dtype: int64

In [ ]:
df.groupby('method')['distance'].mean()

method
Astrometry                         17.875000
Eclipse Timing Variations         315.360000
Imaging                            67.715937
Microlensing                     4144.000000
Orbital Brightness Modulation    1180.000000
Pulsar Timing                    1200.000000
Pulsation Timing Variations              NaN
Radial Velocity                    51.600208
Transit                           599.298080
Transit Timing Variations        1104.333333
Name: distance, dtype: float64

In [ ]:
df.head()

            method  number  orbital_period   mass  distance  year short_method
0  Radial Velocity       1         269.300   7.10     77.40  2006           RV
1  Radial Velocity       1         874.774   2.21     56.95  2008           RV
2  Radial Velocity       1         763.000   2.60     19.84  2011           RV
3  Radial Velocity       1         326.030  19.40    110.62  2007           RV
4  Radial Velocity       1         516.220  10.50    119.47  2009           RV

In [ ]:
df[df['year']>2010].groupby('method')['method'].count()

method
Astrometry                         1
Eclipse Timing Variations          4
Imaging                           12
Microlensing                      11
Orbital Brightness Modulation      3
Pulsar Timing                      1
Radial Velocity                  172
Transit                          287
Transit Timing Variations          4
Name: method, dtype: int64

In [ ]:
df[df['year']>=2010].groupby('method')['method'].count()/df.groupby('method')['method'].count()

method
Astrometry                       1.000000
Eclipse Timing Variations        0.666667
Imaging                          0.473684
Microlensing                     0.565217
Orbital Brightness Modulation    1.000000
Pulsar Timing                    0.200000
Pulsation Timing Variations           NaN
Radial Velocity                  0.388788
Transit                          0.843829
Transit Timing Variations        1.000000
Name: method, dtype: float64

# Working with Nifty datasets

#Concatenating two datasets row-wise,columnwise
# Hierarchical indexing

In [3]:
nifty50_2018=pd.read_csv('nifty50_2018.csv',index_col=0)

In [4]:
nifty50_2019 = pd.read_csv('nifty50_2019.csv',index_col=0)

In [5]:
nifty50 = pd.concat([nifty50_2018,nifty50_2019])

In [6]:
nifty50.head()

                 Open      High  ...  Shares Traded  Turnover (Rs. Cr)
Date                             ...
01-Jan-2018  10531.70  10537.85  ...      134532090            7546.56
02-Jan-2018  10477.55  10495.20  ...      158092430            8665.47
03-Jan-2018  10482.65  10503.60  ...      172516859            9541.60
04-Jan-2018  10469.40  10513.00  ...      180257392            9561.95
05-Jan-2018  10534.25  10566.10  ...      186469717           10306.22

[5 rows x 6 columns]

In [7]:
nifty50.tail()

                 Open      High  ...  Shares Traded  Turnover (Rs. Cr)
Date                             ...
24-Dec-2019  12269.25  12283.70  ...      470290298           13864.56
26-Dec-2019  12211.85  12221.55  ...      520326632           16362.31
27-Dec-2019  12172.90  12258.45  ...      383788556           13676.20
30-Dec-2019  12274.90  12286.45  ...      411084614           14556.73
31-Dec-2019  12247.10  12247.10  ...      426931711           14812.89

[5 rows x 6 columns]

In [8]:
nifty50.shape

(491, 6)

In [9]:
niftynext50_2019 = pd.read_csv('niftynext50_2019.csv',index_col=0)

In [10]:
niftynext50_2019.shape

(245, 6)

In [11]:
niftynext50_2019.head()

                 Open      High  ...    Shares Traded  Turnover (Rs. Cr)
Date                             ...
01-Jan-2019  28243.95  28252.20  ...        100916543            2354.60
02-Jan-2019  28074.05  28188.40  ...        167334185            3410.28
03-Jan-2019  27874.05  28045.30  ...        175238949            3362.20
04-Jan-2019  27707.20  27842.75  ...        163387940            3295.06
07-Jan-2019  27893.95  27932.00  ...        135700262            2862.02

[5 rows x 6 columns]

In [12]:
nifty_2019 = pd.concat([nifty50_2019,niftynext50_2019],axis=1,keys=['Nifty50','NiftyNext50'])

In [13]:
nifty_2019.head()

              Nifty50            ...      NiftyNext50
                 Open      High  ...    Shares Traded Turnover (Rs. Cr)
Date                             ...
01-Jan-2019  10881.70  10923.60  ...        100916543           2354.60
02-Jan-2019  10868.85  10895.35  ...        167334185           3410.28
03-Jan-2019  10796.80  10814.05  ...        175238949           3362.20
04-Jan-2019  10699.70  10741.05  ...        163387940           3295.06
07-Jan-2019  10804.85  10835.95  ...        135700262           2862.02

[5 rows x 12 columns]

In [14]:
nifty_2019.info()

<class 'pandas.core.frame.DataFrame'>
Index: 245 entries, 01-Jan-2019 to 31-Dec-2019
Data columns (total 12 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   (Nifty50, Open)                   245 non-null    float64
 1   (Nifty50, High)                   245 non-null    float64
 2   (Nifty50, Low)                    245 non-null    float64
 3   (Nifty50, Close)                  245 non-null    float64
 4   (Nifty50, Shares Traded)          245 non-null    int64
 5   (Nifty50, Turnover (Rs. Cr))      245 non-null    float64
 6   (NiftyNext50, Open)               245 non-null    float64
 7   (NiftyNext50, High)               245 non-null    float64
 8   (NiftyNext50, Low)                245 non-null    float64
 9   (NiftyNext50, Close)              245 non-null    float64
 10  (NiftyNext50, Shares Traded)      245 non-null    object
 11  (NiftyNext50, Turnover (Rs. Cr))  245 non-null    object
dtypes: float64(9), int64(1), object(2)
memory usage: 24.9+ KB

In [15]:
nifty_2019.Nifty50.Open

Date
01-Jan-2019    10881.70
02-Jan-2019    10868.85
03-Jan-2019    10796.80
04-Jan-2019    10699.70
07-Jan-2019    10804.85
                 ...
24-Dec-2019    12269.25
26-Dec-2019    12211.85
27-Dec-2019    12172.90
30-Dec-2019    12274.90
31-Dec-2019    12247.10
Name: Open, Length: 245, dtype: float64

# Tasks on NIFTY datasets

In 2019 , how many days was the NIFTY50 volatile ?

High >105% of low

---

In [44]:
nifty_2019['Nifty50_volatile']=(((nifty_2019.Nifty50.High) - (nifty_2019.Nifty50.Low))/nifty_2019.Nifty50.Low) >=0.05

In 2019 , how many days was the NIFTYNEXT50 volatile ?

High >105% of low

In [36]:
nifty_2019['Next50_volatile']=(((nifty_2019.NiftyNext50.High) - (nifty_2019.NiftyNext50.Low))/nifty_2019.NiftyNext50.Low) >=0.05

In [42]:
nifty_2019.Nifty50_volatile.count()

245

In [73]:
nifty_2019.groupby('Nifty50_volatile')['Nifty50_volatile'].count()

Nifty50_volatile
False    244
True       1
Name: Nifty50_volatile, dtype: int64

In [75]:
nifty_2019.groupby('Next50_volatile')['Next50_volatile'].count()

Next50_volatile
False    244
True       1
Name: Next50_volatile, dtype: int64

In [83]:
nifty_2019.groupby()